[Desktop Entry]
Name=Coolero
Exec=Coolero
Terminal=false
Type=Application
Icon=coolero
Categories=Utility;
Keywords=cooling;fan control;pump control
StartupNotify=true
StartupWMClass=Coolero
