.idea/
__pycache__/
*.py[cod]
*.egg-info/
.coverage*
pip-wheel-metadata/
.pytest_cache/
.mypy_cache/
build/
dist/
site/
.venv/
venv/
target/
/target/
.vscode/
.git/
.pyc
coolero.log*
coolero/coolero.log*
coolero.build/
coolero.dist/
coolero.spec
*.snap

coolero.bin
coolero.AppImage
coolero.AppImage.zsync
