
.idea/*
!.idea/copyright
!.idea/scopes
.vscode

.cargo/
.pip/
.npm/
.cache/

coolercontrold/target/

*.pyc

*.iml

coolercontrol-liqctld/coolercontrol-liqctld.build/

coolercontrol-liqctld/coolercontrol-liqctld.dist/

coolercontrol-gui/coolercontrol.build/

coolercontrol-gui/coolercontrol.dist/

coolercontrold/coolercontrold

coolercontrold/results.json

coolercontrold/results.xml

appimage-build-daemon/

*.AppImage

appimage-build-gui/

packaging/debian/coolercontrol/
packaging/debian/.debhelper/
packaging/debian/coolercontrol.debhelper.log
packaging/debian/coolercontrol.substvars
packaging/debian/debhelper-build-stamp
packaging/debian/files
packaging/debian/coolercontrol.coolercontrold.service
packaging/debian/coolercontrol.coolercontrol-liqctld.service
