#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

%:
	dh $@ --sourcedirectory=coolercontrol-ui/src-tauri

override_dh_auto_build:
	dh_auto_build --sourcedirectory=coolercontrol-ui
	dh_auto_build

override_dh_auto_test:
	dh_auto_test --sourcedirectory=coolercontrol-ui
	dh_auto_test

override_dh_auto_install:
	dh_auto_install
	@cd $(CURDIR)
	@$(eval DESTDIR=$(CURDIR)/debian/coolercontrol)
	@mkdir -p $(DESTDIR)/usr/share/applications
	@cp packaging/metadata/org.coolercontrol.CoolerControl.desktop $(DESTDIR)/usr/share/applications
	@mkdir -p $(DESTDIR)/usr/share/icons/hicolor/scalable/apps
	@cp packaging/metadata/org.coolercontrol.CoolerControl.svg $(DESTDIR)/usr/share/icons/hicolor/scalable/apps
	@mkdir -p $(DESTDIR)/usr/share/icons/hicolor/256x256/apps
	@cp packaging/metadata/org.coolercontrol.CoolerControl.png $(DESTDIR)/usr/share/icons/hicolor/256x256/apps
	@mkdir -p $(DESTDIR)/usr/share/metainfo
	@cp packaging/metadata/org.coolercontrol.CoolerControl.metainfo.xml $(DESTDIR)/usr/share/metainfo

override_dh_auto_clean:
	dh_auto_clean --sourcedirectory=coolercontrol-ui
	dh_auto_clean