Source: coolercontrol
Maintainer: Guy Boldon <gb@guyboldon.com>
Section: misc
Priority: optional
Rules-Requires-Root: no
Standards-Version: 3.9.2
Build-Depends:
 debhelper-compat (= 13),
Homepage: https://gitlab.com/coolercontrol/coolercontrol

Package: coolercontrol
Architecture: amd64
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
Description: Monitor and control your cooling devices.
 Monitor and control your cooling devices with a system daemon and GUI.
