#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

# not using pybuild because of our multi-language multi-executable install
# export PYBUILD_NAME = coolercontrol-liqctld
# Prevent setuptools/distribute from accessing the internet.
export http_proxy = http://127.0.0.1:9

%:
	dh $@ --with python3

override_dh_auto_build:
	@dh_auto_build
	@cd coolercontrol-liqctld && python3 setup.py build

override_dh_auto_test:
	@cd coolercontrol-liqctld && python -m coolercontrol_liqctld --version
	@cd $(CURDIR)
	@cd coolercontrold/target/release && ./coolercontrold --version
	# We'll install basic cli support for the UI at some point
	#@cd $(CURDIR)
	#@cd coolercontrol-ui/src-tauri/target/release && ./coolercontrol --version

override_dh_auto_install:
	dh_auto_install
	@$(eval DESTDIR=$(CURDIR)/debian/coolercontrol)
	@cd coolercontrol-liqctld && python3 setup.py install \
		--force --root=$(DESTDIR) --install-layout=deb
	@cd $(CURDIR)
	@mkdir -p $(DESTDIR)/usr/share/applications
	@cp packaging/metadata/org.coolercontrol.CoolerControl.desktop $(DESTDIR)/usr/share/applications
	@mkdir -p $(DESTDIR)/usr/share/icons/hicolor/scalable/apps
	@cp packaging/metadata/org.coolercontrol.CoolerControl.svg $(DESTDIR)/usr/share/icons/hicolor/scalable/apps
	@mkdir -p $(DESTDIR)/usr/share/icons/hicolor/256x256/apps
	@cp packaging/metadata/org.coolercontrol.CoolerControl.png $(DESTDIR)/usr/share/icons/hicolor/256x256/apps
	@mkdir -p $(DESTDIR)/usr/share/metainfo
	@cp packaging/metadata/org.coolercontrol.CoolerControl.metainfo.xml $(DESTDIR)/usr/share/metainfo
	@cp packaging/systemd/coolercontrol-liqctld.service $(CURDIR)/debian/coolercontrol.coolercontrol-liqctld.service
	@cp packaging/systemd/coolercontrold.service $(CURDIR)/debian/coolercontrol.coolercontrold.service

override_dh_python3:
	@dh_python3 --requires=$(CURDIR)/coolercontrol-liqctld/requirements.txt

override_dh_installsystemd:
	@dh_installsystemd --name=coolercontrol-liqctld --restart-after-upgrade
	@dh_installsystemd --name=coolercontrold --restart-after-upgrade
