#!/usr/bin/make -f

%:
	dh $@

# clean
override_dh_auto_clean:
	# handled by CI

# build
override_dh_auto_configure:
    # no need

override_dh_auto_build:
	# already done in CI pipeline

override_dh_auto_test:
	# already done in CI pipeline

# binary
override_dh_auto_install:
	@mkdir debian/coolercontrol
	@mkdir -p debian/coolercontrol/usr/bin
	@cp ../coolercontrold/coolercontrold debian/coolercontrol/usr/bin
	@mkdir -p debian/coolercontrol/usr/share/coolercontrol/liqctld/
	@cp -r ../coolercontrol-liqctld/coolercontrol-liqctld.dist/. debian/coolercontrol/usr/share/coolercontrol/liqctld/
	@mkdir -p debian/coolercontrol/usr/share/coolercontrol/gui/
	@cp -r ../coolercontrol-gui/coolercontrol.dist/. debian/coolercontrol/usr/share/coolercontrol/gui/
	@mkdir -p debian/coolercontrol/usr/share/applications
	@cp metadata/org.coolercontrol.CoolerControl.desktop debian/coolercontrol/usr/share/applications
	@mkdir -p debian/coolercontrol/usr/share/icons/hicolor/scalable/apps
	@cp metadata/org.coolercontrol.CoolerControl.svg debian/coolercontrol/usr/share/icons/hicolor/scalable/apps
	@mkdir -p debian/coolercontrol/usr/share/icons/hicolor/256x256/apps
	@cp metadata/org.coolercontrol.CoolerControl.png debian/coolercontrol/usr/share/icons/hicolor/256x256/apps
	@mkdir -p debian/coolercontrol/usr/share/metainfo
	@cp metadata/org.coolercontrol.CoolerControl.metainfo.xml debian/coolercontrol/usr/share/metainfo
	@cp systemd/coolercontrol-liqctld.service debian/coolercontrol.coolercontrol-liqctld.service
	@cp systemd/coolercontrold.service debian/coolercontrol.coolercontrold.service

override_dh_installsystemd:
	dh_installsystemd --name=coolercontrol-liqctld --restart-after-upgrade
	dh_installsystemd --name=coolercontrold --restart-after-upgrade

override_dh_strip:
	# don't strip as it conflicts with nuitka linking

override_dh_shlibdeps:
	dh_shlibdeps --dpkg-shlibdeps-params=--ignore-missing-info  -Xwayland -XlibQt6Wayland -XlibQt6Wl -Xlibqgtk3 -Xprintsupport -Xxcb -XlibQt6Xcb -Xlibqpdf

