[Desktop Entry]
Name=CoolerControl
Exec=coolercontrol
Terminal=false
Type=Application
Icon=org.coolercontrol.CoolerControl
Categories=Utility;
Keywords=cooling;fan control;pump control
Comment=Monitor and control your cooling device
StartupNotify=true
StartupWMClass=coolercontrol
