[Unit]
Description=Cooler Control Daemon
BindsTo=coolercontrol-liqctld.service
After=network.target coolercontrol-liqctld.service
PropagatesStopTo=coolercontrol-liqctld.service
PropagatesReloadTo=coolercontrol-liqctld.service
StartLimitIntervalSec=300
StartLimitBurst=3

[Service]
Type=simple
Environment="ARGS=%I"
ExecStart=/usr/bin/coolercontrold $ARGS
Restart=always
RestartSec=1
TimeoutStopSec=5

[Install]
WantedBy=multi-user.target
