[Unit]
Description=Coolero Daemon
BindsTo=coolerod.socket
After=coolerod.socket
PropagatesStopTo=coolerod.socket

[Service]
Type=simple
RuntimeDirectory=coolero
Group=coolero
ExecStart=/usr/bin/coolerod
Restart=on-failure
TimeoutStopSec=5

[Install]
Also=coolerod.socket
WantedBy=multi-user.target
