[Unit]
Description=CoolerControl Liquidctl Daemon
StartLimitIntervalSec=60
StartLimitBurst=10
PartOf=coolercontrold.service

[Service]
Type=simple
Environment="COOLERCONTROL_LOG=INFO"
ExecStart=/usr/bin/coolercontrol-liqctld --daemon
# send SIGSTOP to the process instead of SIGTERM due to uvicorn shutdown issue
KillSignal=SIGSTOP
# only restart in special circumstances
Restart=on-abnormal
RestartSec=1
TimeoutStopSec=5

# No install section, this service is RequiredBy coolercontrold.service and this service
# can be shutdown if no liquidctl devices are present
