[Unit]
Description=CoolerControl Daemon
# enables auto-starting & restarting for liqctld:
Wants=coolercontrol-liqctld.service
After=network.target coolercontrol-liqctld.service
PropagatesReloadTo=coolercontrol-liqctld.service
StartLimitIntervalSec=60
StartLimitBurst=10

[Service]
Type=simple
Environment="COOLERCONTROL_LOG=INFO"
ExecStart=/usr/bin/coolercontrold
Restart=always
RestartSec=1
TimeoutStopSec=5

[Install]
WantedBy=multi-user.target
