[Unit]
Description=Cooler Control Liquidctl Daemon
After=network.target
PartOf=coolercontrold.service
StartLimitIntervalSec=300
StartLimitBurst=3

[Service]
Type=simple
Environment="ARGS=%I"
ExecStart=/usr/bin/coolercontrol-liqctld $ARGS
Restart=always
RestartSec=1
TimeoutStopSec=5

[Install]
WantedBy=multi-user.target
