[Unit]
Description=CooleroD Socket
PartOf=coolero.service

[Socket]
ListenStream=/run/coolero/coolerod.sock
SocketMode=0660
SocketUser=root
SocketGroup=coolero
RemoveOnStop=on

[Install]
WantedBy=sockets.target
